.container {
    background-color: cyan;
}

div {
    height: 100px;
    width: 100px;
}

#first {
    background-color: blue;
}

#second {
    background-color: green;
    position: relative;
    left: 40%;
}

#third {
    background-color: red;
}